@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.red
	color: #cc030d
.title
	font-family: 'Barlow', sans-serif
	padding: 10px 0
	font-size: 1.6em
	margin-top: 10px
p.title
	font-family: 'Barlow', sans-serif
	padding: 10px 0
	font-size: 1.4em
	margin-top: 10px
.barlow
	font-family: 'Barlow', sans-serif
html
	overflow-x: hidden
body
	overflow-x: hidden
body
	font-family: 'Oswald', sans-serif
	background: black
	color: white
.navbar-default
	background: black
	border: none
	.navbar-toggle
		border: none
		border-radius: 0
		margin-right: 0
		padding: 9px
		position: absolute
		right: 15px
		&:hover
			background: black
		.burger
			display: block
			height: auto
			width: 40px
.navbar-header
	display: flex
	flex-flow: row
	justify-content: center
.navbar-brand
	margin: 0
.navbar-brand > img
	height: auto
	width: 120px
.main-banners-container
	background: white
	height: 300px
	display: block
	width: 100%
	.item
		display: inline-block
		height: 100%
		width: 100%
		&.one
			background: transparent url(/images/banner-ppal.jpg) no-repeat center center
			background-size: cover
.concept-image
	border: 5px solid white
	img
		width: 100%
		height: auto
		display: block
.concept-text-container
	padding-top: 30px
.concep-text
	font-size: 1.1em
.dishes-menu
	ul
		text-align: center
		margin: 0
		padding: 0
		display: flex
		justify-content: center
		li
			display: inline-block
			&:last-of-type a
				border: none
			a
				padding: 0 15px
				color: white
				border-right: 1px solid white
				font-size: 2em
				text-align: center
				&.nigiri
					font-size: 2.2em
				&.active
					color: red
.nigiri-container
	height: auto
	display: block
	margin-top: 20px
	.item
		height: 250px
		display: inline-block
		background: red
		width: 100%
		img
			width: 100%
			height: auto
			display: block
.download-menu
	margin: 40px 0
.bento-svg
	width: 200px
	height: auto
.price
	font-size: 1.6em
.map
	background: gray
	height: 220px